<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Page</title>
    <link rel="stylesheet" href="css/code.css">
</head>
<body>
    <h3>You have collected all parts of the code sheet. </h3>
    <h3 style="margin: 0; padding: 0;">Can you figure out the code?</h3>
    <div class="img-div" style="padding: 0; margin-top: 0;"><img src="images/wholething_compressed.png" alt="Symbol sheet"></div>
    <div class="img-div"></div><img src="/images/code.png" alt="Code image" style="margin-left: 10%;"></div>
    <h5>Enter it here.</h5>
    <form action="/codesolve" method="POST">
        <input type="text" name="code" id="code">
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
</body>
</html>
