<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Begin</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="envelope" onclick="openPopup()">
        <img src="images//wax-seal.png" alt="Image of envelope">
    </div>
    
    <div class="popup-container">
        <div class="popup" id="popup">
            <p>Dear Soul of the Future,</p>
            <p>I write this letter with a heart heavy with both sorrow and an odd sense of urgency, for I am not certain whether it will ever reach you, or if anyone will even be there to read it when it does. I come from a time before the great calamity, from a world that once bustled with life, with hope, with ambition. But I fear that this letter, if it survives the ravages of time and decay, will tell of a world that has crumbled, leaving only whispers of its former glory.</p>
            <p>You may not know what happened, or perhaps you do. You may have learned of it in history books or through the remnants of old records. Perhaps the destruction I speak of has long passed into myth, something distant and unreal. But I need to share what I have witnessed, for I do not know if anyone from my time will be left to pass on this truth. I need to warn you, if nothing else, that the fragile balance of life we once lived upon was shattered by our own hands.</p>
            <p>But, if you are reading this, it means that someone has survived. It means that life, in some form, continues. I pray that you have learned from the mistakes of our time. I cannot tell you what the future holds. I do not know if the world will ever recover from what we have done. But I ask you, if there is any hope left in your time, to honor the memory of those who perished. </p>
            <p>Do this by uncovering the final mystery I have not solved, as the code sheet fell apart. But, I've found the first part of the code sheet, and figured out that the first letter is F.</p>
            <p>Here is the first part of the code sheet.</p>
            <br>
            <img src="images/map1.png" alt="Map 1">
            <br>
            <p>With regret, hope, and a final plea,</p>
            <p>A Witness from the Past</p>
            <a href="/one">
                <button>Uncover the code</button>
            </a>
        </div>
    </div>
    
    <script src="/popup.js"></script>
</body>
</html>
