<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/duck.css">
</head>
<body>
    <p id="typewriter" class="type"></p>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const text = "You solved the riddle. The duck gives you another piece of the code sheet. Click on the duck to see it.";
            let i = 0;
            function typeWriter() {
                if (i < text.length) {
                    document.getElementById("typewriter").innerHTML += text.charAt(i);
                    i++;
                    setTimeout(typeWriter, 50);
                }
            }
            typeWriter();
        });
    </script>
    <div class="popup" id="popup">
       <img src="/images/map4.png" alt="map2" class="map-img">
       <a href="/two">Next</a>
    </div>
    <div class="duck" onclick="openPopup()"><img src="/images/duck.png" alt="Duck"></div>
    <script src="popup.js"></script>
</body>
</html>