.image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

body {
  background-image: url("/images/lake-bg.jpg");
  background-size: cover;
  font-family: 'Sue Ellen Francisco', cursive;
}

a{
  margin: 0;
  padding: 0;
  z-index: 10000;
  text-decoration: none;
  font-family: 'Sue Ellen Francisco', cursive;
  background-color: white;
  color: black;
}